*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4fff4;
    color:#333;
}

/* NAVBAR */

.navbar{
    background:#2e7d32;
    padding:18px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:999;
}

.logo{
    color:white;
    font-size:26px;
    font-weight:bold;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:25px;
}

.navbar a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.navbar a:hover{
    color:#ffd700;
}

/* CONTAINER */

.container{
    min-height:80vh;
}

/* FOOTER */

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:20px;
}