{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/buyer_profile.css' %}">
{% endblock %}
{% block content %}

<h1>Buyer Profile</h1>

<hr>

<img src="{{ buyer.profile_pic.url }}" width="200" height="200">

<h2>{{ buyer.name }}</h2>

<p>Email : {{ buyer.email }}</p>

<p>Phone : {{ buyer.phone }}</p>

<p>Address : {{ buyer.address }}</p>

<hr>

<a href="{% url 'edit_buyer_profile' %}">Edit Profile</a>

<br><br>

<a href="{% url 'buyer_dashboard' %}">Back Dashboard</a>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/buyer_profile.js' %}"></script>
{% endblock %}